<%
require 'nokogiri'
require 'open-uri'
source = open(@url){|f|f.read}


html = Nokogiri::HTML(open @url)
html.css('script').remove
html.css('style').remove
#words = html.at('body').inner_text.scan(/[a-z]+/i)

words = Nokogiri::HTML(html.inner_html
).xpath('//text()').map(&:text).join(' ').scan(/[a-z]+/i)

def frequencies(words)
  Hash[
    words.group_by(&:downcase).map{ |word,instances|
      [word,instances.length]
    }.sort_by(&:last).reverse
  ]
end
 %>

<% words.each do |word| %>
  <span class="analyzer-<%= word.downcase %>">
    <%= word %>
  </span>
<% end %>


<table >
  <tr>
    <th>word</th>
    <th>frequency count</th>
  </tr>
  <% frequencies(words).first(10).to_h.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>

</table>
